/* teste de lieson de fichier */
/* body {
  background: red;
} */
/*couleur et aspect des section */
.grid-item{
  background: #dcdcdc;
  border: 1px solid black;
  text-align: center;
}

/*code css du cour Grid CSS*/

.grid-contaire{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50vh;
}
